<footer class="footer bg-dark py-3 mt-auto">
    <!-- <footer class="mt-auto text-white-50"> -->
    <div class="container text-center">
        <span class="text-white">&copy; Yelpcamp 2023 | Pradeesh Karunakaran</span>
    </div>
</footer>